body{
    padding: 0;
    margin:0;
    font-family: "vista-reg", sans-serif;
    
}

.part1{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.videop1{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    object-fit:cover;
    
    
}

#actualvid{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: -1;
    position:absolute;
}

.navbar{
    padding: 5px;
    margin: 5px;
    height: 10vh;
    width: 96vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid black; */
    
    position: fixed;

}

.menu{
    z-index: 1;
    height: 7vh;
    width: 8vw;
    background-color: #ff5f00;
    border: 1px solid #462617;
    /* position: absolute; */
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6vw;
}

.search{
    height: 7vh;
    width: 12vw;
    background-color: rgb(255,255,255,0.5);
    /* border: 1px solid grey; */
    /* position: absolute; */
    z-index: 1;
    /* margin-left: 43vw; */
    border-radius:15px ;
    margin-left:10vw;
    display: flex;
    align-items: center;
    /* justify-content:start; */
    transition:background-color 50ms ease-in;
    
    

}

.search:hover{
background-color: rgb(255,255,255,0.7);

}

.franchise_mute{

    height: 8vh;
    width: 18vw;
    /* border: 4px solid lime; */
    z-index: 1;
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    /* margin-left: 76vw; */

}



.sound{
    height: 7vh;
    width: 4vw;
    /* border: 1px solid ; */
    z-index: 1;
    border-radius: 15px;
    /* position: absolute; */
    background-color:rgb(255,255,255,0.5);
    
}
/* llllllllllllllllllllllllllll */
.extend{
    height: 7vh;
    width: 12vw;
    position:absolute;
    top: 20px;
    right: 16vw;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    /* border: 1px solid salmon; */
    transition:0.5s;
    opacity: 0;
}

.sound:hover .extend{
    height: 7vh;
    width: 12vw;
    position:absolute;
    top: 20px;
    right: 16vw;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    /* border: 1px solid salmon; */
    transition:0.5s;
    
    
}
/* lllllllllllllllllllllllllllllll */

.franchising{
    height: 7vh;
    width: 14vw;
    border: 1px solid #462617;
    z-index: 1;
    /* position: absolute; */
    background-color: #ff5f00;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    gap:5px;
    align-items: center;
    

    
}
.scaler{

    scale: 1;
    transition:scale 100ms ease-in;
}
.scaler:hover{

    scale: 1.05;
}

#menu_icon{

    width: 2vw;
    height: 2vh;
    /* border: 2px solid black; */
}

.menu_info{
    color: white;
    font-size: 1.1vw;
    font-weight: 1;
    
    /* border: 2px solid black; */

}

.down_arrow{

    height: 8vh;
    width: 4.2vw;
    background-color: #ff5f00;
    position: absolute;
    top:85vh;
    left:48vw;
    /* border: 2px solid black; */
    border-radius: 20px;
    /* margin-left: 200px; */
    /* display: flex;
    align-items: center;
    justify-content: c; */
    animation-name: downarrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 100ms;


}

@keyframes downarrow {

    0%{transform:translateY(0);}

    50%{transform:translateY(-20px);}

    100%{transform:translateY(0px);}


}

.watch_section{
    height: 16vh;
    width: 22vw;
    /* position: absolute; */
    margin-top: 82vh;
    margin-left:74vw;
    background-color:rgb(255,255,255,0.7);
    z-index: 1;
    border-radius: 20px;
    /* border: 2px solid black; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0;
    transition:padding 150ms;
}

.watch_section:hover{
    height: 16vh;
    width: 22vw;
    /* position: absolute; */
    margin-top: 81.9vh;
    margin-left:74vw;
    background-color:rgb(255,255,255,0.7);
    z-index: 1;
    border-radius: 20px;
    /* border: 2px solid black; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 2px 2px 2px 2px;
    
    

}



#advideo{
    object-fit:cover;
    width: 8vw;
    height:13vh;
    border-radius: 15px;
    /* border: 2px solid black; */
    margin-right: 0.6vw;

}

.vidinfo{

    font-size: 1vw;
    /* border: 2px solid black; */
    color: #ff5f00;
    font-weight: 400;

}

.watchsection_info{

    width: 10vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: 2px solid black; */
    line-height: 8px;
    gap: 0.2vw;
    margin-left: 0.5vw;
    

}

#watchvidinfo{

    display:flex;
    
}

.items{
    width:100vw;
    height:55vh;
    background-color: #f6c97d;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    z-index: -1;
    /* overflow: scroll; */
    /* border: 1px solid black; */
    
}

.item{

    height: 310px;
    width: 350px;
    background-color:rgb(255,255,255,0.5);
    /* border: 1px solid black; */
    gap:16vw;
    border-radius: 50px;
    margin: 4vw;
    display: flex;
    flex-direction: column;
    padding: 6px;
    align-items: center;

}



.item img{

    height: 32vh;
    width: 21vw;
    /* border: 2px solid black; */

}


.item h2{

    /* border: 2px solid black; */
    transform: translateY(-30vh);
    color: #462617;
    font-weight: 400;
}


.join_franchise{

    height: 105vh;
    width: 100vw;
    background-color: #ff5f00;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    

}

.franchise_section{

    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    

}

.join{
    margin-bottom: 4vh;
    /* border: 2px solid black; */
    height: 4vh;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(255,255,255,1);
    border-radius: 15px;
    padding: 0.5vw;
    transition: padding 500ms ease-in; 
}
.join:hover{

    scale:1.05;
}
a{

    text-decoration: none;
    color: #ff5f00;
}


.control{

    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6c97d;

}

.dc_button{


    height: 5vh;
    width: 11vw;
    border: 2px solid green;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#daily_control{

    font-weight: 500;
   
}

#grabit{

    font-family: "vista-reg", sans-serif;

}

.biggest_franchise{
    height: 250vh;
    width: 100vw;
    background-color:#ff5f00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.benefits{

    margin: 1px;
    height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    /* border: 2px solid black; */
}

.info_card{

    height: 36vh;
    width: 15vw;
    /* border: 2px solid black; */
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;
    /* font-family: vista-reg; */
}

.info_card p{

    font-size: 16px;
    font-weight: 100;

}

.info_card h2{

    font-weight: 400;
    font-size: 22px;

}

.info_media{

    margin: 1px;
    width:100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    /* border: 2px solid black; */
    text-decoration: none;

}

.join_r{
    padding: 6px;
    width: 14vw;
    height: 5vh;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff5f00;
    scale: 1;
    transition: 100ms scale ease;

}

.join_r:hover{

    scale: 1.05;
}

.catalog{
    padding: 6px;
    width: 12vw;
    height: 5vh;
    background-color:rgb(255,255,255,0.2);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    scale: 1;
    transition: 100ms scale ease;
    text-decoration: none;
}

.catalog:hover{

    scale: 1.1;
}

.info_card_heading{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;

}

.steps_buy{

    height: 370vh;
    width: 100vw;
    background-color: #f6c97d;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 5vh;

}

.step1{

    height: 98vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 5vw; */
    /* border: 1px solid black; */

}

.step1img img{

    height: 95vh;
    width: 50vw;
    
}

.step1info{

    height: 98vh;
    width: 50vw;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    /* align-items: center; */

    color: #462617;

}

#choosearea{
    height: 83vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid black; */

}

#infoarea{

        height: 98vh;
        width: 35vw;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        /* border: 1px solid black; */
        padding: 2px;
}

#infoarea h2{

    font-size: 3vw;
    font-weight: 600;

}

#infoarea p{

    font-size: 20px;
    font-weight: 100;

}


.step2{

    height: 98vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 5vw; */
    /* border: 1px solid black; */

}

.step2img img{

    height: 95vh;
    width: 50vw;
    /* border: 1px solid black; */
    
}

.step2info{

    height: 98vh;
    width: 50vw;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    /* align-items: center; */

    color: #462617;

}

#choosearea2{
    height: 83vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid black; */

}

#infoarea2{

        height: 98vh;
        width: 35vw;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        /* border: 1px solid black; */
        padding: 2px;
}

#infoarea2 h2{

    font-size: 3vw;
    font-weight: 600;

}

#infoarea2 p{

    font-size: 20px;
    font-weight: 100;

}

.endvid{

        height: 100vh;
        width: 100vw;
        

}

.videop2{

    height: 100vh;
    width: 100vw;
    
    object-fit: cover;
}

.formc{

    display: flex;
    justify-content: center;
    background-color:#ff5f00;

}

.form {

    width: 60vw;
    height: 101vh;
    /* border:5px solid black; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: white;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;


}

.p1{
    margin-top: 5%;
    width: 75%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */

}

.p2{
    width: 75%;
    height: 20vw;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: space-around; */
    margin-bottom: 5%;
    /* border: 1px solid black; */

}

.p2 h2{

    font-size:4em;
    color: #462617;
    font-weight: 800;

}
.p2 p{

    font-size: 1.5em;
    color: #462617;

}

.p3{
    width: 72%;
    height: 20vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    /* border: 1px solid black; */

}



.name,.email,.submit{

    height: 15%;
    width: 100%;
    

}

.name input,.email input,.submit input{

    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-color: rgba(255,95,0,.15);
    color: black;
    /* text-align: center; */
    padding-left: 3%;
    color: #ff5f00;
    border: none;
    text-decoration: none;
    cursor: pointer;

}

.captcha{

    height: 100%;
    width: 100%;
    border-radius: 15px;

}

.agreement input{

    border-radius: 15px;
    background-color: rgba(255,95,0,.15);
    border: none;
    cursor: pointer;

}

#personal{

    color: #ff5f00;

}


.ctbutton{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 7%;
    border-radius: 15px;
    background-color:rgba(255,95,0,.15);
    color: #ff5f00;
    cursor: pointer;
}

.catalog2{

    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgba(255,95,0,.15);
    color: #ff5f00;
    border: none;
    cursor: pointer;


}

#formContainer {
    position: fixed;
    top: -3%;
    right: -400px;
    width: 350px;
    height: 100%;
    background: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 1001;
    padding: 20px;
    display: none;

}

#formContainer.active {
    right: 320px;
    display: block;
}

.close-form {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
    
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}











